<div class="container mt-2 ">
  <div class="row mt-3">
    <div class="col-6">
      <h1 class="text-center">
          {{title}}
        </h1>
      </div>
      <div class="col-6">
          <p>
              Counter : {{ counter}}
            </p>
            <button class="btn btn-primary" (click)='increment()'>Increment</button>
      </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <app-admin></app-admin>
    </div>
    <div class="col-6">
      <app-dashboard></app-dashboard>
    </div>
  </div>

</div>